/* Estilo general para el contenedor */
body{
    background-color: #f1ead7;
}
.contenedor-login {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:  rgba(245, 245, 245, 1);
    text-align: center;
    margin-top: 1%;
}

.contenedor-login input{
    background-color:  rgb(235, 233, 233);
    border-radius: 25px;
}

.user{
    align-items: center;
    display: block;
    margin: 10px auto;
    width: 130px;

}
    
.col-form-label {
    text-align: left;
    font-weight: 600;
}


.btn-success {
    background-color:  #a65811!important;
    border-color:  #a65811!important;
    border-radius: 10px;
}

.btn-secondary {
    background-color: #a65811!important;
    border-color:  #a65811!important; 
    border-radius: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
.combobox-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    
}

.combobox-container select {
    max-width: 200px;
}

.botonesLogin{
    display: flex;
    margin-left:28%;
}

.botonesLogin button{
    margin-right: 7%;
    align-content: center;
}
   